<%= render 'layouts/navbar' %>
<%= render 'layouts/header' %>
<%= render 'layouts/flashes' %>
<div class="container">
  <div class="product-list">
    <%  @product_lists.each do |product_list| %>
    <p><%= product_list.product_name %></p>
    <p><%= number_to_currency product_list.product_price %></p>
    <p><%= product_list.product_quantity %></p>
    <hr>
    <% end  %>
  </div>
  <h2>Total: <%= number_to_currency @order.total %></h2>
  <!-- <%= link_to 'Pay With Card', pay_with_stripe_order_path(@order), method: 'post', class: 'btn btn-primary' %> -->
  <%= link_to 'Pay', new_charge_path, class: 'btn btn-success'%>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        Stripe.setPublishableKey('PUBLISHABLE_KEY');
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Total Charge"
        data-amount=" <%= @order.total*100 %>   "
        data-locale="auto"></script>
</div>
