<%= render 'layouts/navbar' %>
<%= render 'layouts/header' %>
<%= render 'layouts/flashes' %>

<div class="container">
  <%= image_tag @product.image.url(:medium) %>
  <h1><%= @product.title %> | $<%= @product.price %></h1>
  <p>
    <%= @product.description %>
  </p>
  <% if @product.quantity.present? && @product.quantity > 0 %>
    <%= link_to 'Add To Cart', add_to_cart_product_path(@product), :method => :post, class: 'btn btn-primary' %>
  <% else %>
    <p> The product is out of stock. </p>
  <% end %>
</div>
