<nav class="navbar navbar-expand-md navbar-light bg-light mb-0">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fa fa-smile-o"></i> B & L
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <% if current_user&.is_admin %>
        <li class="nav-item"><%= link_to 'Manage Products', admin_products_index_path, class: "nav-link mr-auto" %></li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <!--=== Shopping Cart ===-->
        <li class: "nav-link" ><%= link_to '/cart', class: "nav-link" do %> Cart <i class='fa fa-shopping-cart'></i> (<%= current_cart.cart_items.count %>)<% end %></li> 
      <% end %>  

      <!--=== User Drop Down Menu ===-->
      <% if user_signed_in? %>
        <li class='dropdown nav-item'>
          <a href='#' class='dropdown-toggle nav-link' data-toggle='dropdown'>
            Hello, <%= current_user.username %>
          </a>
          <div class='dropdown-menu dropdown-menu-right'>
            <% if current_user.is_admin %>
                <%= link_to 'Admin Menu', admin_products_index_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
              <% end %>
            <%= link_to 'My account', user_path(current_user), class: 'dropdown-item' %> 
            <%= link_to 'My order', orders_user_path(current_user), class: 'dropdown-item' %> 
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', class: 'dropdown-item' %> 
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %><li>
        <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
</nav>


